{% extends "layout.html" %}
{% block content %}
    <h1>Sources</h1>
    <div class="well well-lg well-lg-about">
        <ul>
            <li>Croicu, M.a.R.S., 2015. UCDP GED Codebook version 2.0. Uppsala University. (Accessed: 11/15/16).</li>
            <li>J. Pickering, K.E.F., 2006. Political, Economic, and Social Consequences of Foreign Military Intervention. Political Research Quarterly, Vol. 59, No. 3.</li>
            <li>J. Pickering, E.F.K., 2015. The human consequences of foreign military intervention, Defence and Peace Economics.</li>
            <li>Molfino, R.M.W.a.E., 2016. Aiding Victims, Abetting Violence: The Influence of Humanitarian Aid on Violence Patterns During Civil Conflict. Journal of Global Security Studies.</li>
            <li>Strandow, D.M.F.D.N.a.J.P., 2016. The UCDP-AidData codebook on Geo-referencing Foreign Aid. 30th ed. Uppsala, Sweden: Uppsala University: Uppsala Conflict Data Program. (Accessed 11/15/16).</li>
            <li>UNHCR, 2016. Demographics of Persons of Concerns. (Accessed: 11/25/16).</li>
            <li>Word Health Organisation, UNICEF, 2016. Water Supply and Sanitation. (Accessed 11/15/16).</li>
            <li>World Bank, 2016. World Development Indicators. (Accessed: 11/15/16).</li>
        </ul>
    </div>

{% endblock %}