{% extends "layout.html" %}
{% block content %}
    {% if session.data_loaded %}
        <h1>Central African Republic</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="well">
                        <h3>Visualization parameters</h3>
                        <form method="post">
                            <div>
                                <h4>Map features:</h4>
                                <p>
                                    Start date:
                                    {{ formmap.datestart }}<br>

                                    End date:
                                    {{ formmap.dateend }}<br>
                                </p>
                            </div>
                            <hr>
                            <div>
                                <h4>Aid plot features:</h4>
                                {#                                <p>
                                    First choice: <br>
                                    {% for subfield in formmap.choiceswhat %}
                                        {{ subfield }}
                                        {{ subfield.label }}<br>
                                    {% endfor %}
                                </p>

                                <p>
                                    Weird feature: <br>
                                    {% for subfield in formmap.camp %}
                                        {{ subfield }}
                                        {{ subfield.label }}<br>
                                    {% endfor %}
                                </p>

                                <p>
                                    Map features: <br>
                                    {{ formmap.conflicts }}
                                    {{ formmap.conflicts.label }}<br>
                                    {{ formmap.schools }}
                                    {{ formmap.schools.label }}<br>
                                    {{ formmap.displacements }}
                                    {{ formmap.displacements.label }}<br>
                                </p>#}
                                <p>
                                    Country for donation:
                                    {{ formmap.country(style="width: 100%;") }}<br>
                                </p>
                            </div>
                            <hr>
                            <div>
                                <p>
                                    {{ formmap.updatemap }}
                                    {{ formmap.updatemap.label }}<br>
                                    {{ formmap.updatedonation }}
                                    {{ formmap.updatedonation.label }}<br>
                                </p>
                                <input class="btn btn-sm btn-primary"
                                       type="submit" value="Update">
                            </div>
                        </form>
                    </div>
                    <div class="well">
                        <h3>Summary of the conflict</h3>
                        <p>
                            The Central African Republic conflict is an ongoing
                            civil war in the Central African Republic (CAR)
                            between the Séléka rebel coalition and government
                            forces, which began on 10 December 2012. The
                            conflict arose after rebels accused the government
                            of President François Bozizé of failing to abide by
                            peace agreements signed in 2007 and 2011. Many
                            of the rebel groups had been involved in the
                            Central African Republic Bush War.
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="well">
                        <h3>Conflict map</h3>
                        <p><em>In red, we can see the war zones with the number
                        of people killed. In yellow, we can see the registered
                        refugees.</em></p>
                        <div class="map-container">
                            {% include mapfile %}
                        </div>
                    </div>
                    <div class="well">
                        <h3>Donations and humanitarian aid</h3>
                        <div class="aid-container">
                            {% include aidplot %}
                        </div>
                    </div>

                    <div class="well">
                        <h3>Press coverage (The New York Times)</h3>
                        <div class="plot-container">
                            <p>
                                {% include nyt_mentions %}
                            </p>
                        </div>
                        <div class="plot-container">
                            <div>
                                {% include nyt_sentiment %}
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <h3>Development indicators</h3>
                        <div class="plot-container">
                            <div>
                                {% include nutrition %}
                            </div>
                        </div>
                        <div class="plot-container">
                            <div>
                                {% include schoolenrollment %}
                            </div>
                        </div>
                        <div class="plot-container">
                            <p>
                                {% include deathrate %}
                            </p>
                        </div>
                        <div class="plot-container">
                            <div>
                                {% include lifeexpectancy %}
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <h3>Water and sanitation access</h3>
                        <div class="plot-container">
                            <div>
                                {% include water %}
                            </div>
                        </div>
                        <div class="plot-container">
                            <div>
                                {% include sanitation %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% else %}
        <div class="app-error"> Oops! Data wasn't loaded properly</div>
    {% endif %}

{% endblock %}